@model System.Data.DataTable

<div class="containertbl" dir="rtl">
    <p style="text-align:right">
        التصنيفات
    </p>
    <table  class="table table-striped table-hover">
        <tr>
            <th>
               اسم التصنيف بالعربي
            </th>
            <th>
                اسم التصنيف بالانجليزي
            </th>
            <th>
               الخدمة
            </th>
            <th></th>
        </tr>

       @for (int i = 0; i < Model.Rows.Count; i++)
       {
            <tr id="row_@i">
                <td>
                    @Html.DisplayFor(modelItem => Model.Rows[i]["SubCateName"])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Rows[i]["enSubName"])
                </td>
                <td>
                    @{ System.Data.SqlClient.SqlConnection con = new System.Data.SqlClient.SqlConnection(@"Data Source=DESKTOP-CQI3I4K\MYSQLSERVER;Initial Catalog=maindb;Integrated Security=True");
                        con.Open();
                        System.Data.SqlClient.SqlCommand com = new System.Data.SqlClient.SqlCommand("select * from Services where ServicesID="+Model.Rows[i]["FKServID"], con);
                        System.Data.SqlClient.SqlDataReader SqlDr = com.ExecuteReader();
                        System.Data.DataTable d = new System.Data.DataTable();
                        d.Load(SqlDr);
                        con.Close();
                    }
                    @Html.DisplayFor(modelItem => d.Rows[0][0])
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Rows[i]["SubCategoryID"] }) |
                    <div id="remove"> <a id="@Model.Rows[i]["SubCategoryID"]" href="javascript:;">delete</a></div>
                </td>
            </tr>
        }

    </table>
   </div>
     <script>


      $(document).ready(function ()
    {
       $("#remove a").click(function (e) {
           e.preventDefault();
           var id = $(this).attr("id");

           var MSG = confirm("Are you sure you want to delete this Record?");

           if (MSG) {

               $.ajax({
                   type:"POST",
                   url: '/Deleting/Deletesubcat/id',
                   data: { id: id },
                   success: function () {
                       $("#row_" + id).remove();
                   },
                   error: function () {

                   }
               });
           }
       })
   });

    </script>
