@model DashBoard.Models.Branches

@{
    ViewBag.Title = "الفروع";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2 style="text-align:right">اضافة فرع جديد</h2>

@using (Html.BeginForm("AllBranches", "Dash", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="" dir="rtl" style="margin:auto auto; text-align:right;width:600px">
            <p style="color:red">@ViewBag.Emsg</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                      اسم الفرع بالعربي
                    </label>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        اسم الفرع بالانجليزي
                    </label>
                    @Html.EditorFor(model => model.enTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.enTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        تليفون الفرع
                    </label>
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>
          
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        عنوان الفرع بالعربي  
                    </label>
                    @Html.EditorFor(model => model.AddBranche, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddBranche, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        عنوان الفرع الانجليزي
                    </label>
                    @Html.EditorFor(model => model.enAddrBranch, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.enAddrBranch, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        الصورة الرئيسية للفرع
                    </label>
                    <input type="file" name="imgfile" class="form-control" />
                     @Html.ValidationMessageFor(model => model.mainImg, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label ">
                        الصور الفرعية للفرع
                    </label>
                    @*<input type="file" name="imgsfile" class="form-control" />*@
                    <input type='file' multiple id='fileUpload' name="files" data-url="@Url.Action("Upload","DashController")"   />
                 </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="اضافة" class="btn btn-primary" />
                </div>
            </div>
        </div>
       
    </div>
   
}
@{Html.RenderAction("_Branches", "Dash");
}