@model DashBoard.Models.BranchDetail

@{

    ViewBag.Title = "تفاصيل الفرع";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2 style="text-align:right">اضافة صور الفرع</h2>

@using (Html.BeginForm("branch", "Dash", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BranchDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.imgSrc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @* <input type="file" name="imgfile" multiple class="form-control" />*@
                @Html.TextBoxFor(model => model.imgSrc, "", new { @type = "file", @multiple = "multiple" })


                 @Html.ValidationMessageFor(model => model.imgSrc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FKBrancheID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.FKBrancheID, ViewBag.listBranches as IEnumerable<SelectListItem> , new { @class = "form-control" })

                  @Html.ValidationMessageFor(model => model.FKBrancheID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
