<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Custom fonts for this template-->
    
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/css/sb-admin.css" rel="stylesheet"> 
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
     <style>
        i {
            color:cadetblue;
        }
         span {
         color:gray}
         span:hover,focus,active {
         color:cadetblue;}
         li.nav-item:hover {border-right:5px solid cadetblue
         }
    </style>
</head>

<body id="page-top" >
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">

            <li class="nav-item">
                
                <a href="~/Dash/Home" class="nav-link">
                
                    <span>معلومات الاتصال</span>
                    <i class="fas fa-phone"></i>
                </a>

                @*@Html.ActionLink("معلومات الاتصال", "Home","Dash", new { @class = "nav-link" })*@
            </li>
            <li class="nav-item">
                <a href="~/Dash/mainText" class="nav-link">
                    
                    <span>النصوص الرئيسية</span>
                    <i class="fas fa-file-alt"></i>
                </a>
                @*@Html.ActionLink("النصوص الرئيسية", "mainText", "Dash", new { @class = "nav-link" })*@
            </li>
            <li class="nav-item">
                <a  href="~/Dash/Services" class="nav-link">
                   
                    <span>الخدمات</span>
                    <i class="fas fa-services"></i>
                </a>
                   
                    @*@Html.ActionLink("الخدمات", "Services", "Dash", new { @class = "nav-link" })*@
             
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Dash/products">
                    
                    <span>المنتجات</span>
                    <i class="fas fa-shopping-basket"></i>
                    @*@Html.ActionLink("المنتجات", "products","Dash", new { @class = "nav-link" })*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Dash/subcategory">
                    
                    <span>الاقسام</span>
                    <i class="fas fa-fw fa-chart-area"></i>
                   @* @Html.ActionLink("الاقسام/الفروع", "subcategory","Dash", new { @class = "nav-link" })*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Dash/AllBranches">

                    <span>الفروع</span>
                    <i class="fas fa-fw fa-chart-area"></i>
                    @* @Html.ActionLink("الاقسام/الفروع", "subcategory","Dash", new { @class = "nav-link" })*@
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Dash/socialmedia">
                     
                     <span>مواقع التواصل الاجتماعي</span>
                    <i class="fas fa-file-alt"></i>
               @* @Html.ActionLink("مواقع التواصل الاجتماعي", "socialmedia", "Dash", new { @class = "nav-link" })*@
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Dash/Logout">
                    
                    <span>تسجيل الخروج</span>
                    <i class="fas fa-sign-out-alt"></i>
                   @* @Html.ActionLink("تسجيل الخروج", "Logout", "Dash", new { @class = "nav-link" })*@
                </a>
            </li>
        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>
                <!-- Icon Cards-->
                



                <!-- /.container-fluid -->

                @RenderBody()

                <!-- Sticky Footer -->
               
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
      </div> 
        <script src="~/scripts/jquery.min.js"></script>
        <script src="~/scripts/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/scripts/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/scripts/Chart.min.js"></script>
        <script src="~/scripts/jquery.dataTables.js"></script>
        <script src="~/scripts/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.min.js"></script>
        <!-- Demo scripts for this page-->
        <script src="~/js/datatables-demo.js"></script>
        <script src="~/js/chart-area-demo.js"></script>
    

        </body>
</html>

